<h1>Users#home</h1> 

<img src="http://www.politusic.com/wp-content/uploads/2012/08/recording-studio-console-clean.jpg" alt="Recording Studio" width="200" heigh="50">

<h2>Hello, <%=@logged_in_user%>, Welcome to the <sub>Music</sub> <sup>App</sup>.</h2>

<p>You are visitor #_blank to this site.</p>

<pre>This home page 
					will display a welcome note, 
				other featured:
			songs 
		and artists, 
	and a search section.</pre>
<p>On this site you can:</p>
	<ul style="list-style-type:circle">
			<li>Share your original music</li>
			<li>Explore new sounds</li>
			<li>Build a fanbase (and join others too!)</li>
			<li>Meet and record with other artists around the world</li>
	</ul>
	<p>The possibilies are endless...</p>
