<h1>Users#login</h1>
	<p><strong>Log in</strong> or <strong>create</strong> a profile. Self explanatory.</p>
	<p>If you are already logged in, proceed to <%=link_to "Your Profile", "/profile" %></p>
	<p>To see a similar type of site, Click the SoundCloud icon <a href="http://www.soundcloud.com"><img width="60" height="60" src="https://a2.sndcdn.com/assets/images/header/logo@2x-9cffb704.png"></img></a>
	</p> 

