<div id="layout" syle="width:500px">
	<div id="header" style="background-color:#FFA500;">
		<h1 style="margin-bottom:0">Users#profile</h1></div>
	<div id="description" style="background-color:#88C6FF;height:200px;width:100px;float:left;">
	<p id="description>Decription of profile page">This page will be the <i>users profile</i>. Includes info on the artist, his/her music, and artists similar to him/her. There will also be a message option to send a personal message to the artist.</p></div>
<table border="1">
	<caption>Profile Summary</caption>
	<tr>
		<th>Song Count</th>
		<td>Number?</td>
	</tr>
	<tr>
		<th>Fans</th>
		<td>Number?</td>
	</tr>
</table>
