<h1>Songs#index</h1>
<h2>Hello <%=@logged_in_user%></h2>
<p>Find me in app/views/songs/index.html.erb</p>

<% @songs.each do |song| %>
	<div>
		<p> <%= link_to song.title, "/songs/" + song.id.to_s %> </p>
		<p>Genre: <%= song.genre %></p>
		<p>Artist: <%= song.artist %></p>
	</div>
	<br>
<% end %>

